@import url("https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Afacad:wght@300;400;500;600&display=swap");

@import "tailwindcss";

:root {
    --background: #ffffff;
    --foreground: #171717;

    --font-baloo: "Baloo 2", sans-serif;
    --font-afacad: "Afacad", sans-serif;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);

    --font-baloo: var(--font-baloo);
    --font-afacad: var(--font-afacad);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
    background: black;
    color: var(--foreground);
    font-family: var(--font-afacad);
}
