@import url('https://fonts.googleapis.com/css2?family=Afacad:wght@400;500;600&display=swap');


.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  min-height: 100vh;
  background-color: #272C3C;
  padding: 40px 8vw;
  font-family: 'Afacad', sans-serif;
}


.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
 
  width: 689px;
  height: 135px;
  max-width: 100%;
  margin-bottom: 40px;
  gap: 15px;
}


.title {
  color: #FFF;
  font-family: 'Afacad', sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-align: left;
  margin: 0;
}


.separator {
  width: 100%;
  height: 1px;
  background: #FFF;
}




.gridWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}


.cardsGrid {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}


.card {
  display: flex;
  flex-direction: column;
  width: 352px;
  min-height: 308px;
  border-radius: 14px;
  border: 3.5px solid #FFF;
  background: #F3F3F3;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.25);
  overflow: hidden;
  transition: transform 0.2s ease;
}


.card:hover {
  transform: translateY(-5px);
}


.questionSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 90px;
  padding: 15px;
  background-color: #272C3C;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}


.questionText {
  color: #FFF;
  text-align: center;
  font-family: 'Afacad', sans-serif;
  font-size: 27px;
  font-weight: 500;
  line-height: 1.2;
  margin: 0;
}


.answerSection {
  flex: 1;
  display: flex;
  align-items: flex-start;
  padding: 20px;
  background-color: #F3F3F3;
}


.answerText {
  color: #272C3C;
  text-align: center;
  font-family: 'Afacad', sans-serif;
  font-size: 22px;
  font-weight: 500;
  line-height: 1.4;
  margin: 0;
  width: 100%;
}