.backgroundSection {
  background: #272C3C;
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
}


.contentWrapper {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 60px;
 
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 80px;
}


.textColumn {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 45px;
  flex: 1;
  max-width: 689px;
}


.titleBlock {
  width: 100%;
}


.title {
  color: #FFF;
  font-family: 'Afacad', sans-serif;
  font-size: 48px;
  font-weight: 500;
  margin: 0;
  line-height: 1.1;
}


.divider {
  width: 100%;
  max-width: 689px;
  height: 1px;
  background: #FFF;
  margin: 0;
}


.descriptions {
  display: flex;
  flex-direction: column;
  gap: 24px;
}


.textRegular, .textHighlight {
  font-family: 'Afacad', sans-serif;
  font-size: 28px;
  margin: 0;
  word-wrap: break-word;
}


.textRegular {
  color: #FFF;
  font-weight: 500;
}


.textHighlight {
  color: #EAC278;
  font-weight: 700;
}


.imageColumn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  width: 100%;
}


.imageBox {
  width: 100%;
  max-width: 791.5px;
  aspect-ratio: 527 / 660;
  position: relative;
}


@media (max-width: 1200px) {
  .contentWrapper {
    flex-direction: column;
    gap: 60px;
    padding: 40px;
    text-align: center;
    height: auto;
    min-height: 100vh;
  }


  .textColumn {
    align-items: center;
    max-width: 800px;
    flex: none;
  }
 
  .imageColumn {
    flex: none;
    width: 100%;
  }


  .imageBox {
    max-width: 500px;
  }
}


@media (max-width: 768px) {
  .contentWrapper {
    padding: 24px 24px;
    gap: 10px;
  }


  .title {
    font-size: 32px;
  }
  .textRegular, .textHighlight {
    font-size: 18px;
    line-height: 1.5;
  }
  .textColumn {
    gap: 24px;
    align-items: center;
    text-align: center;
  }


  .imageColumn {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }


  .imageBox {
    width: 100%;    
    max-width: 500px;
    aspect-ratio: 527 / 660;
  }
}